body {
    margin: 0;
    font-size: 15px;
}
.left {
    float: left;
    width: 50%;
}
.header,.menu{
    overflow: hidden
}
.logo,.menu,.menu-item{
    float: left;
}
.pro-item{
    position: relative;
    color: #fff;
    overflow: hidden;
}
.pro-item img{
    width: 100%;
    display: block;
    transform: scale(1);
    transition: all .3s;
}
.pro-item:hover img{
    transform: scale(1.1)
}
.pro-item .title,.pro-item .des {
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.pro-item .title{
    font-size: 24px;
}
.pro-item .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 1;
    top: 0;
    left: 0;
    transition: all .3s;
}
.pro-item:hover .mask{
    background: transparent;
}
.header{
    background: #000;
    color: #fff;
}